Repository pierre-le-corre/ARC, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, core, batchs, web, ws

.github/labeler.yml:

repo:
  - ./*

core:
  - arc-core/**/*
  
batchs:
  - arc-batchs/**/*
  
web:
  - arc-web/**/*
  
ws:
  - arc-ws/**/*

Create label.yml
  .github/workflows/label.yml
Labels: none

Create docker.yml
  .github/workflows/docker.yml
Labels: none

Delete superlinter.yml
  .github/workflows/superlinter.yml
Labels: none

Update docker.yml
  .github/workflows/docker.yml
Labels: none

Update docker.yml
  .github/workflows/docker.yml
Labels: none

Update docker.yml
  .github/workflows/docker.yml
Labels: none

Update docker.yml
  .github/workflows/docker.yml
Labels: none

Update deploy.sh
  deploy.sh
Labels: repo

Update deploy.sh
  deploy.sh
Labels: repo

Desactive docker.yml
  .github/workflows/docker.yml
Labels: none

Create docker2.yml
  .github/workflows/docker2.yml
Labels: none

Update docker2.yml
  .github/workflows/docker2.yml
Labels: none

Update docker2.yml
  .github/workflows/docker2.yml
Labels: none

Update docker2.yml
  .github/workflows/docker2.yml
Labels: none

Update docker2.yml
  .github/workflows/docker2.yml
Labels: none

Update tests.yml
  .github/workflows/tests.yml
Labels: none

Update tests.yml
  .github/workflows/tests.yml
Labels: none

Update pom.xml
  arc-web/pom.xml
Labels: web

Update docker2.yml
  .github/workflows/docker2.yml
Labels: none

Rewrite actions
  .github/workflows/arc-ci.yml
  .github/workflows/docker.yml
  .github/workflows/tests.yml
Labels: none

Update arc-ci.yml
  .github/workflows/arc-ci.yml
Labels: none

Try fix
  .github/workflows/arc-ci.yml
Labels: none

Try2
  .github/workflows/arc-ci.yml
Labels: none

Try3
  .github/workflows/arc-ci.yml
Labels: none

ll
  .github/workflows/arc-ci.yml
Labels: none

Update arc-ci.yml
  .github/workflows/arc-ci.yml
Labels: none

Update arc-ci.yml
  .github/workflows/arc-ci.yml
Labels: none

Update arc-ci.yml
  .github/workflows/arc-ci.yml
Labels: none

Update arc-ci.yml
  .github/workflows/arc-ci.yml
Labels: none

Update arc-ci.yml
  .github/workflows/arc-ci.yml
Labels: none

Update arc-ci.yml
  .github/workflows/arc-ci.yml
Labels: none

Cleanup
  .github/workflows/arc-ci.yml
Labels: none

Create release-on-tag.yml
  .github/workflows/release-on-tag.yml
Labels: none

Update release-on-tag.yml
  .github/workflows/release-on-tag.yml
Labels: none

Update arc-ci.yml
  .github/workflows/arc-ci.yml
Labels: none

Update release-on-tag.yml
  .github/workflows/release-on-tag.yml
Labels: none

Add batch to release
  .github/workflows/release-on-tag.yml
Labels: none

Fix yaml
  .github/workflows/release-on-tag.yml
Labels: none

Fix path
  .github/workflows/release-on-tag.yml
Labels: none

Add the new version to the generated arc-web.war
  .github/workflows/release-on-tag.yml
  arc-web/src/main/resources/fr/insee/config/arc.properties
  arc-web/src/main/webapp/WEB-INF/jsp/index.jsp
Labels: web
